.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-wrap: wrap;
}

.home > div {
    display: flex;
}

.link {
    background-color: #28a085;
    cursor: pointer;
    border: none;
    font-size: 3rem;
    flex: 1;
}